h1,h2,h3,h4,h5,h6,a.button{font-family:Sketchetik-Light !important;font-weight:normal !important;font-style:normal !important}
h1 a{color:#fff;}
h1 a:hover{color:#a6c4f3}
ul li,ol li{list-style:disc;padding-left:0}
em{font-style:italic}
header{padding-top:20px;padding-bottom:20px}
aside#sidebar h2{font-size:200%}
aside#sidebar li{list-style:none}
aside.meta dl{padding:0;margin:0}
@media only screen and (max-width: 767px){dl{display:block;float:left;width:30%}
iframe.youtube{width:100%;height:300px}
}@media only screen and (min-width: 768px){aside.meta{float:right;width:140px;margin-left:20px;padding-left:20px;border-left:2px solid #ccc;margin-bottom:20px}
iframe.youtube{width:300px;height:200px}
aside.social{position:absolute;width:200px;right:0;top:0}
}@media only screen and (min-width: 960px){iframe.youtube{width:500px;height:340px}
}