h1,h2,h3,h4,h5,h6,a.button{font-family:Sketchetik-Light !important;font-weight:normal !important;font-style:normal !important}
h1 a{color:#fff;}
h1 a:hover{color:#a6c4f3}
h1,h2{line-height:1em}
h3{clear:left}
#main-content h3{color:#2564bf}
ul li,ol li{list-style:disc;padding-left:0}
em{font-style:italic}
header{padding-top:20px;padding-bottom:20px}
aside#sidebar h2{font-size:200%}
aside#sidebar li{list-style:none}
#progress_chart{margin-left:-10px}
.more{margin-bottom:20px}
.post img{margin-bottom:20px;box-shadow:0 1px 3px 0}
aside.meta dl{padding:0;margin:0}
div.sharing{margin-top:10px;margin-bottom:10px}
@media only screen and (max-width: 767px){dl{display:block;float:left;padding-right:10px}
}dd{margin-bottom:10px;padding-right:10px}
iframe.youtube{width:100%;height:300px}
@media only screen and (min-width: 768px){aside.meta{float:right;width:140px;margin-left:20px;padding-left:20px;border-left:2px solid #ccc;margin-bottom:20px}
iframe.youtube{width:300px;height:200px}
aside.social{position:absolute;width:200px;right:0;top:0}
p > img{float:right;margin-left:20px}
}@media only screen and (min-width: 960px){iframe.youtube{width:500px;height:340px}
}.thumbnails li{display:inline}
.thumbnail{border:none;}
.thumbnail img{width:40px}
