<!DOCTYPE html>
<html>
  <head>
     {% include head_content.html %}
    <title>{{page.title}}</title> 
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
  </head>
  <body>
    <div id="fb-root"></div>
    {% include facebook_sdk.html app_id="170078826515753" %}
    <header>
      <div class="inner">
        <h1>{{site.title}}</h1>
        <h2>{{site.subtitle}}</h2>

        <aside class="social">
          {% include follow.html username="michaelforrest" %}
          {% include like.html url="https://www.facebook.com/MichaelForrestBlog" %}
        </aside>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

        <aside id="sidebar">
          {% include sidebar_content.html %}
         </aside>
      </div>
    </div>

    {% include analytics.html %}

  </body>
</html>
