<!DOCTYPE html>
<html>
  <head>
    {% include head_content.html %}
    <title>{{page.title}}</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>{{site.title}}</h1>
        <h2>{{site.subtitle}}</h2>
        <a href="https://github.com/michaelforrest" class="button"><small>Follow me on</small>GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          <h1>{{ page.title }}</h1>
          

          <aside class="meta">
            <dl>
              <dt>Started:</dt>
              <dd>{{ page.started_on }}
            </dl>
            <dl>
              <dt>Last updated:</dt>
              <dd>{{ page.last_updated_on }}
            </dl>
            <dl>
              <dt>Status:</dt>
              <dd><img src="/images/status/{{ page.status | handleize }}.png" alt="{{ page.status }}"/></dd>
            </dl>
          </aside>
          <iframe class="youtube" src="//www.youtube.com/embed/{{page.video}}?rel=0" frameborder="0" allowfullscreen></iframe>
          {{ content }}
        </section>

        <aside id="sidebar">
          {% include sidebar_content.html %}
        </aside>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>