<!DOCTYPE html>
<html>
  <head>
    {% include head_content.html %}
    <title>{{site.title}}{{page.title}}</title>

    <meta content="{{page.og_image}}" property="og:image" />
	<script type="text/javascript">
		google.setOnLoadCallback(function(){
			var chart = new google.visualization.PieChart(document.getElementById('progress_chart'));
			var data = google.visualization.arrayToDataTable([
				['Task', 'Progress'],
				{% for line in page.progress %}
					['{{line.title}}',{{line.value}}],
				{% endfor %}
			]);
			var options = {
				pieHole: 0.4, 
				legend:'none',
				colors:[
					'#68BB48', '#6188C0','#6188C0','#6188C0','#6188C0','#6188C0','#6188C0'
					],
				chartArea:{left:10,top:10,width:120,height:120},
				width: 140, 
				height:140,
				pieSliceText: 'none',
				tooltip: {
					text: 'percentage'
				}
			};
			chart.draw(data,options);
		});
	</script>
	
  </head>

  <body>
    <div id="fb-root"></div>
    {% include facebook_sdk.html app_id="170078826515753" %}
    <header>
      <div class="inner">
        <h1><a href="/">{{site.title}}</a></h1>
        <h2>{{site.subtitle}}</h2>
        <!-- <a href="https://github.com/michaelforrest" class="button"><small>Follow me on</small>GitHub</a> -->
        <aside class="social">
          {% include follow.html username="michaelforrest" %}
          {% include like.html url="https://www.facebook.com/MichaelForrestBlog" %}
        </aside>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        
        <section id="main-content">
          <h1>{{ page.title }}</h1>
          {% include sharing.html page=page %}
          <aside class="meta">
            <dl>
			  <dt>Started:</dt>
              <dd>{{ page.started_on }}
              <dt>Last updated:</dt>
              <dd>{{ page.last_updated_on }}
              <dt>Finishable in:</dt>
              <dd>{{page.time_required}}</dd>
            </dl>
         	<dl class='progress'>
				<dt>Progress:</dt>
				<dd><div id='progress_chart'></div></dd>
			</dl>
             <dl>
              <dt>Status:</dt>
              <dd><img src="/images/status/{{ page.status | handleize }}.png" alt="{{ page.status }}"/></dd>
            </dl>
           </aside>
          <iframe class="youtube" src="//www.youtube.com/embed/{{page.video}}?rel=0" frameborder="0" allowfullscreen></iframe>
          {{ content }}
          {% include sharing.html page=page %}
          <div class="fb-comments" data-href="http://michaelforrest.github.io{{page.url}}" data-width="470"></div>
        </section>

        <aside id="sidebar">
          {% include sidebar_content.html %}
        </aside>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
